.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;
  font-family: inherit;
  border: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

svg {
  fill: currentColor;
}

address {
  font-style: normal;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 94px 0;
}

.section--bg-dark {
  background-color: #f5f4fa;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section--d-none {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section--d-none {
    display: block;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  display: flex;
  align-items: center;
}

.logo--accent {
  color: #2196f3;
}

.button {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button__icon {
  margin-left: 10px;
}

.header {
  height: 60px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-button {
  z-index: 2;
}

.burger-icon {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button:hover .burger-icon,
.burger-button:focus .burger-icon {
  fill: #2196f3;
}

.close-menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.close-menu-icon {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-button:hover .close-menu-icon,
.close-menu-button:focus .close-menu-icon {
  fill: #2196f3;
}

.nav__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.contacts__icon {
  display: none;
}

.contacts__tel {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-socials {
  margin-top: 64px;
}

.header-socials__list {
  display: flex;
  margin-left: -10px;
}

.header-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-socials__link {
  padding: 0 10px;
  color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
  }
  .side-menu {
    z-index: 2;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 25px;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .side-menu.is-open {
    transform: translateX(0);
  }
  .nav__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .close-menu-button {
    display: none;
  }
  .burger-button {
    display: none;
  }
  .side-menu {
    display: flex;
    height: 100%;
  }
  .nav {
    margin-right: 84px;
  }
  .nav__list {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
  }
  .nav__item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav__link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
  .nav__link--active {
    color: #2196f3;
  }
  .nav__link--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    cursor: initial;
  }
  .contacts {
    align-self: center;
    display: flex;
    flex-flow: column-reverse;
  }
  .contacts__item:nth-child(2) {
    margin: 0 0 10px;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:focus, .contacts__link:hover {
    color: #2196f3;
  }
  .contacts__icon {
    display: block;
    margin-right: 10px;
  }
  .header-socials {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-right: 305px;
  }
  .contacts {
    flex-flow: row-reverse;
  }
  .contacts__item:nth-child(2) {
    margin: 0 30px 0 0;
  }
}

/* PORTFOLIO PAGE */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 9px;
}

.filter__button {
  padding: 9px 22px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__desc {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100.1%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__desc {
  transform: translateY(0);
}

.portfolio__text-box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
}

.address {
  padding: 60px 0;
  width: 25%;
}

.address__logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.address__route {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  margin-bottom: 9px;
}

.address__contact:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.join {
  padding: 72px 0;
  width: 25%;
}

.join__title,
.subscribe__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join__list {
  color: #ffffff;
  display: flex;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background-color: #2196f3;
}

.subscribe {
  padding-top: 72px;
  width: 50%;
  padding-left: 15px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  padding: 15px 16px;
  color: #ffffff;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:hover {
  cursor: pointer;
}

.subscribe__input:focus {
  border-color: #2196f3;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=portfolio.css.map */