:root {
  --title-text-color: #212121;
  --common-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --grey-icon-color: #afb1b8;
  --timing-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-family: inherit;
  border: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

svg {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--timing-func), visibility var(--timing-func);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;

  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--timing-func);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.close-button {
  background-color: var(--white-color);
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-button svg {
  color: #000000;
  transition: color var(--timing-func);
}

.close-button:focus svg,
.close-button:hover svg {
  color: var(--accent-color);
}

.modal-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-label {
  color: var(--common-text-color);
  font-size: 12px;

  letter-spacing: 0.01em;
}

.modal-label span {
  display: block;
  margin-bottom: 4px;
}

.modal-label > .input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-label > .input-wrap svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill var(--timing-func);
}

.modal-input:focus + svg {
  fill: var(--accent-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 0 12px 42px;
  cursor: pointer;
  outline: none;
  transition: border var(--timing-func);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input.textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-input.textarea::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-license {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--common-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
}

.license-chkbx {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: border var(--timing-func), background-color var(--timing-func);
}

.visually-hidden.license-chkbx:focus + .license-chkbx,
.visually-hidden.license-chkbx:hover + .license-chkbx {
  border-color: var(--accent-color);
}

.visually-hidden.license-chkbx:checked + .license-chkbx {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.license-chkbx svg {
  fill: var(--white-color);
}

.license-text {
  margin-right: 4px;
}

.license-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-button {
  margin: 0 auto;
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.section {
  padding: 94px 0;
}

header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  height: 100%;
}

.header-logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list > li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-list > li + li {
  margin-left: 50px;
}

.accent-color {
  color: var(--accent-color);
}

.nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--timing-func);
}

.nav-link:hover,
.nav-contact:hover,
.nav-link:focus,
.nav-contact:focus {
  color: var(--accent-color);
}

.active-link {
  color: var(--accent-color);
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  cursor: initial;
}

.header-contacts {
  display: flex;
}

.header-contacts > li + li {
  margin-left: 50px;
}
.nav-contact {
  display: flex;
  align-items: center;
  color: var(--common-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--timing-func);
}

.header-icon {
  margin-right: 10px;
}

/* HERO */

.hero-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
}

.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ADVANTAGES */

.advantages-section {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  width: 270px;
}

.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-desc {
  font-size: 14px;
  line-height: 1.71;
  color: var(--common-text-color);
}

/* EXAMPLE */

.example-list {
  display: flex;
  justify-content: space-between;
}

.example-list li {
  position: relative;
}

.example-list p {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-section {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-card {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-desc {
  padding: 30px 32px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-position {
  color: var(--common-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-social {
  color: var(--grey-icon-color);
  display: flex;
  justify-content: space-between;
}

.team-social a {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: color var(--timing-func), background-color var(--timing-func);
}

.team-social a:hover,
.team-social a:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list a {
  color: var(--grey-icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color var(--timing-func), border-color var(--timing-func);
}

.clients-list a:hover,
.clients-list a:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

footer {
  background-color: #2f303a;
}

.footer-container {
  display: flex;
}

.address-container,
.join-container {
  padding: 60px 0;
  width: 25%;
}

.join-container,
.subscribe-container {
  padding-top: 72px;
}

.subscribe-container {
  width: 50%;
  padding-left: 15px;
}

.footer-logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  margin-bottom: 20px;
}

address {
  font-style: normal;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  margin-bottom: 9px;
}

.footer-contact-item + .footer-contact-item {
  margin-top: 9px;
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.join-container p,
.subscribe-container p {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-social {
  color: var(--white-color);
  display: flex;
}

.join-social li + li {
  margin-left: 10px;
}

.join-social a {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--timing-func);
}

.join-social a:hover,
.join-social a:focus {
  background-color: var(--accent-color);
}

.subscribe-container input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  padding: 15px 16px;
  color: var(--white-color);
  margin-right: 7px;
  transition: border-color var(--timing-func);
}

.subscribe-container input:hover {
  cursor: pointer;
}

.subscribe-container input:focus {
  border-color: var(--accent-color);
}

.subscribe-container input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-container .hero-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.subscribe-container .hero-button svg {
  margin-left: 10px;
}

/* PORTFOLIO PAGE */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list > li + li {
  margin-left: 9px;
}

.filter-button {
  padding: 9px 22px;
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition: color var(--timing-func), background-color var(--timing-func),
    box-shadow var(--timing-func);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow var(--timing-func);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .hidden-desc {
  transform: translateY(0);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.hidden-desc {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100.1%);
  transition: transform var(--timing-func);
}

.card-info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-desc {
  font-size: 16px;
  line-height: 1.87;
  color: var(--common-text-color);
}
