$title-text-color: #212121;
$common-text-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$grey-icon-color: #afb1b8;
$timing-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
