body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.site-wrapper {
  &.menu-open {
    position: fixed;
    overflow-y: hidden;
    height: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;
  font-family: inherit;
  border: none;
}

img,
picture {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

svg {
  fill: currentColor;
}

address {
  font-style: normal;
}
